
{% extends "base.html" %}

{% block content %}

<header class="header-page-bg overflow-hidden header-page-bg-1">
<div class="bottom-frame"></div>
<div class="header-page-bg-inner">
<div class="header-page-line">
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
</div>
<div class="container-fluid">
<div class="header-content header-content-white">

<h1>About</h1>
<p>The system tests for the originality of News efficiently, effectively and most especially accurrately</p>
</div>
</div>
</div>
</header>

<section class="counter-section page-bg  pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-sm-6 col-lg-3 pb-30">
<div class="counter-item counter-item-dark">
<h3 class="counter-num">2531</h3>
<h4>Satisfied Users</h4>
</div>
</div>
<div class="col-sm-6 col-lg-3 pb-30">
<div class="counter-item counter-item-dark">
<h3 class="counter-num">320</h3>
<h4>Detected Fake News</h4>
</div>
</div>
<div class="col-sm-6 col-lg-3 pb-30">
<div class="counter-item counter-item-dark">
<h3 class="counter-num">500</h3>
<h4>Detected Real News</h4>
</div>
</div>
<div class="col-sm-6 col-lg-3 pb-30">
<div class="counter-item counter-item-dark">
<h3 class="counter-num">5003</h3>
<h4>Reviews</h4>
</div>
</div>
</div>
</div>
</section>

{% endblock %}