{% extends "base.html" %}

{% block content %}

<header class="header-page-bg overflow-hidden header-page-bg-1">
    <div class="bottom-frame"></div>
    <div class="header-page-bg-inner">
    <div class="header-page-line">
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    <div class="header-page-line-item"></div>
    </div>
    <div class="item">
        <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="header-content header-content-white">
        
        <h1>Registration successful</h1>
        <div class="button-group">
        <a href="/main" class="btn main-btn">Get Started</a>
        
        </div>
        </div>
        </div>
        </div>
    </div>
    </header>
    <br><br><br><br><br>

{% endblock %}