{% extends "base.html" %}

{% block content %}


<header class="header-page-bg overflow-hidden header-page-bg-2">
<div class="bottom-frame"></div>
<div class="header-page-bg-inner">
<div class="header-page-line">
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
<div class="header-page-line-item"></div>
</div>
<div class="container-fluid">
<div class="header-content header-content-white">
<h1>Privacy Policy</h1>
</div>
</div>
</div>
</header>


<section class="terms-section sec-pt-60 pb-100">
<div class="container">

<div class="forum-details">
<h3>Availability Of Services</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata ir sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Sed diam nonumy eirmod tempor</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo <a href="#">dolores</a> et ea rebum. Stet clita kasd gubergren, no sea takimata ir</p>
<div class="forum-details-block">
<h3>Key Note Of Policy</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore mag na alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
<ul>
<li>At vero eos et accusam et justo duo dolores</li>
<li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed </li>
<li>Nonumy eirmo dr temp or invidunt ut labore et dolore magnaliqu.</li>
</ul>
</div>
<h3>Company Regulations</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata ir sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Sed diam nonumy eirmod tempor</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata ir</p>
<h3>Our Policy Concerning Under 18</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata ir sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Sed diam nonumy eirmod tempor</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna alique yam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata ir</p>
</div>

</div>
</section>


{% endblock %}